/*MINIMUM SCREEN SIZE 0PX AND MAXIMUM SCREEN SIZE 576PX|[ --576PX > 767px-- ]|*/
@media only screen and (max-width: 576px) {
    .container {
        max-width: 300px;
    }
    .nav-right {
        display: none;
    }
    .mobile-menu {
        display: block;
    }
    .mobile-menu span {
        float: right;
        font-size: 30px;
        cursor: pointer;
        right: 72px;
        position: absolute;
        top: 54px;
    }
    .overlay {
        width: 0;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0,0,0,.9);
        z-index: 1;
        overflow-x: hidden;
        transition: .2s;
    }
    .overlay-content {
        position: absolute;
        width: 100%;
        text-align: center;
        margin-top: 120px;
    }
    .overlay a {
        display: block;
        text-decoration: none;
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: #fff;
        padding: 20px 0;
    }
    .overlay a:first-child {
        padding-top: 0;
    }
    .overlay a:last-child {
        padding-bottom: 0;
    }
    .overlay .closebtn {
        font-size: 40px;
        float: right;
        margin-right: 50px;
        margin-top: 50px;
    }
    .sticky .mobile-menu span {
        float: right;
        font-size: 30px;
        cursor: pointer;
        right: 50px;
        position: absolute;
        top: 20px;
    }
    .sticky .overlay .closebtn {
        margin-top: 15px;
    }




    .editor-choice a span {
        padding: 6px 10px;
    }






    .slider-text-area {
        width: 100%;
        padding-top: 150px;
        margin-left: 0;
    }
    .slider-text-area h1 {
        font-size: 36px;
        line-height: 50px;
    }
    .text-box-btn {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .text-box-btn a {
        margin: 20px 0;
    }
    .text-box-btn a:first-child {
        margin-top: 0;
    }
    .text-box-btn a:last-child {
        margin-bottom: 0;
    }
    .btn {
        padding: 16px 30px;
    }




    .trusted-section-content-area {
        width: 100%;
        margin: 0;
    }

    .trust-section-box {
        flex-wrap: wrap;
    }

    .trust-section-single-box:last-child {
        margin: 10px auto;
    }



    .features-left-content {
        display: none;
    }

    .features-right-content {
        width: 100%;
        margin: 0;
        text-align: center;
    }
    .features-section-title h2 {
        font-size: 30px;
    }

    .features-text-box {
        display: flex;
        flex-direction: column;
    }
    .features-text-box-single-item {
        display: flex;
        flex-direction: column;
    }

    .features-text-box-icon {
        margin: 0;
    }

    .jackpot-section-title {
        flex-direction: column;
    }



    .jackpot-section-title-left-content {
        width: 100%;
        padding: 0;
        flex-direction: column;
        border-right: 0;
        border-bottom: 1px solid;
        margin-bottom: 30px;
    }
    .jackpot-section-title-left-content h2 {
        font-size: 30px;
        text-align: center;
    }
    .jackpot-section-title-right-content {
        width: 100%;
        padding: 0;
        text-align: center;
    }



    .jackpot-section-main-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .jackpot-section-main-content-single-item {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 20px 0;
    }
    .jackpot-section-main-content-single-item:first-child{
        margin-top: 0;
    }
    .jackpot-section-main-content-single-item:last-child {
        margin-bottom: 0;
    }
    .jackpot-section-main-content-single-item:nth-child(2) {
        margin: 0;
    }
    .single-item-icon {
        margin: 0;
    }

    .code-integration-main-section {
        flex-direction: column;
    }



    .code-integration-section-left-content {
        display: none;
    }
    .code-integration-section-right-content {
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .code-integration-section-right-content h2 {
        font-size: 30px;
    }




    .choose-your-app-section-title {
        width: 100%;
        margin: 0;
    }
    .choose-your-app-section-title h2 {
        font-size: 30px;
        padding: 0;
    }
    .choose-your-app-section-title .lead {
        padding: 0;
        margin-bottom: 20px;
    }
    .choose-your-app-section-main-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .app-section-single-item-icon {
        margin-bottom: 0;
    }
    .app-section-single-item {
        margin: 20px;
    }
    .app-section-single-item:first-child {
        margin-top: 0;
    }
    .app-section-single-item:last-child {
        margin-bottom: 0;
    }
    .app-section-single-item:nth-child(2) {
        margin-left: 0;
        margin-right: 0;
    }
    .choose-your-app-section-main-content:nth-child(1) {
        margin-bottom: 20px;
    }
    .unlimited-features-section-left-content {
        margin: 0;
        width: 100%;
        text-align: center;
    }
    .unlimited-section-title {
        padding: 0;
        text-align: center;
    }
    .unlimited-section-title h2 {
        font-size: 30px;
    }
    .unlimited-features-section-right-content {
        display: none;
    }
    .unlimited-section-content-box-single-item {
        display: flex;
        flex-direction: column;
    }
    .unlimited-section-box-single-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .unlimited-section-box-icon {
        margin-bottom: 0;
    }
    .unlimited-section-box-single-item {
        margin: 20px 0;
    }

    .unlimited-section-box-single-item:first-child {
        margin-top: 0;
    }
    .unlimited-section-box-single-item:last-child {
        margin-bottom: 0;
    }
    .unlimited-section-box-single-item:nth-child(even) {
        margin-left: 0;
    }




    .pricing-section-title {
        width: 100%;
        margin: 0;
    }

    .pricing-section-title h2 {
        font-size: 30px;
    }
    .pricing-section-title .lead-extends {
        margin-bottom: 20px;
    }




    .packages-items {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .card {
        width: 100%;
        margin: 20px 0;
    }
    .card:first-child {
        margin-top: 0;
    }
    .card:last-child {
        margin-bottom: 0;
    }


    .testimonial-content-area {
        display: flex;
        flex-direction: column;
    }
    .testimonial-left-content {
        display: none;
    }
    .testimonial-right-content {
        width: 100%;
        float: none;
        text-align: center;
    }
    .testimonial-section-title h2 {
        font-size: 30px;
        line-height: 40px;
    }
    .owl-carousel .owl-item img {
        margin: 0 auto;
    }
    .client-review {
        margin-bottom: 30px;
    }
    .client-review h3 {
        font-size: 18px;
        line-height: 30px;
    }
    .client-section {
        flex-direction: column;
    }
    .carousel-control-btn {
        position: unset;
        bottom: 0;
        margin-top: 40px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .faq-title-section {
        width: 100%;
        margin: 0;
    }
    .faq-title-section h2 {
        font-size: 30px;
        line-height: 40px;
    }

    .accordion-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .accordion-btn {
        display: flex;
        flex-direction: column;
        line-height: 30px;
        padding: 20px 0;
    }
    .accordion-btn:after {
        margin-top: 20px;
    }


    .download-content-section {
        text-align: center;
    }

    .download-content-section-left {
        width: 100%;
    }
    .download-content-section-left h2 {
        font-size: 30px;
        line-height: 40px;
    }
    .download-content-section-right {
        display: none;
    }
    .download-icon-group {
        display: flex;
        flex-direction: column;
    }

    .download-icon {
        margin: 0;
    }
    .footer-content-area {
        width: 100%;
    }
    .footer-content-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-menu ul {
        display: flex;
        flex-direction: column;
    }

}

/*MINIMUM SCREEN SIZE 0PX AND MAXIMUM SCREEN SIZE 576PX|[ --576PX > 767px-- ]|*/
@media only screen and (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}


/*MINIMUM SCREEN SIZE 577PX AND MAXIMUM SCREEN SIZE 768PX|[ --768PX > 991px-- ]|*/
@media only screen and (min-width: 768px) {
    .container {
        max-width: 740px;
    }
}

/*MINIMUM SCREEN SIZE 769PX AND MAXIMUM SCREEN SIZE 992PX|[ --992PX > 1199px-- ]|*/
@media only screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

/*MINIMUM SCREEN SIZE 993PX AND MAXIMUM SCREEN SIZE 1200PX|[ --993px > 1200PX-- ]|*/
@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}
