/*********************************/
/***- BASIC SETUP -***/
/*********************************/
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
}
*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*********************************/
/***- REUSABLE COMPONENTS -***/
/*********************************/
section {
    display: block;
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.btn {
    border: 0;
    outline: 0;
    color: #fff;
    background: #2500f9;
    font-size: 16px;
    font-weight: 600;
    padding: 20px 40px;
    border-radius: 32px;
    transition: .3s;
    text-decoration: none;
    display: inline-block;
}
.btn:hover {
    cursor: pointer;
}
.lead {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 38px;
    color: #616368;
}
/*********************************/
/***- NAVIGATION AREA -***/
/*********************************/
header {
    position: absolute;
    z-index: 1;
    width: 100%;
}
nav {
    display: flex;
    width: 100%;
}

.logo {
    margin-top: 104px;
}

.nav-right {
    display: flex;
    margin-left: auto;
}

.main-nav {
    margin-top: 115px;
    margin-right: 28px;
}

.main-nav ul {
    display: flex;
    list-style-type: none;
}

.main-nav ul li {
    margin: 0 18px;
}

.main-nav ul li:first-child {
    margin-left: 0;
}

.main-nav ul li:last-child {
    margin-right: 0;
}

.main-nav ul li a {
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: #242f51;
    text-transform: capitalize;
}

.main-nav ul li:last-child a {
    text-transform: uppercase;
}

.navbar-btn {
    margin-top: 92px;
    margin-left: 28px;
}
.btn-nav {
    border: 1px solid transparent;
}
.btn-nav:hover {
    background: transparent;
    color: #2500f9;
    border-color: #ddd;
}

/*STICKY NAV*/
nav.sticky {
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(193, 255, 252, 0.9);
    position: fixed;
    transition: 0.3s;
}

.sticky a.logo {
    margin-top: 0;
    padding: 22px 0;
}
.sticky .main-nav {
    margin-top: 0;
    padding: 30px 0;
}

.sticky .navbar-btn {
    margin-top: 0;
    padding: 10px 0;
}

/*********************************/
/***- SLIDER AREA -***/
/*********************************/
.slider-section {
    background: url(img/slider-img-1.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    width: 100%;
}
.slider-text-area {
    padding-top: 200px;
    width: 50%;
    margin-left: 70px;
}

.slider-text-area h1 {
    font-size: 60px;
    font-weight: 600;
    line-height: 75px;
    color: #242f51;
    margin: 0 0 38px 0;
}
.editor-choice {
    background: #e2eaed;
    border-radius: 32px;
    display: inline-block;
    margin-bottom: 12px;
}
.editor-choice a {
    display: flex;
    align-items: center;
}

.editor-choice a {
    text-decoration: none;
    color: #242f51;
}

.editor-choice a span {
    padding: 0 48px 0 10px;
}

.text-box-btn {
    display: flex;
}

.text-box-btn a {
    margin: 0 10px;
}

.text-box-btn a:first-child {
    margin-left: 0;
}

.text-box-btn a:last-child {
    margin-right: 0;
}
.text-box-btn-nav {
    border: 1px solid transparent;
}
.text-box-btn-nav:hover {
    background: transparent;
    border-color: #ddd;
    color: #2500f9;
}
.btn-bg-none {
    background: transparent;
    color: #2500f9;
    padding: 20px 16px
}

.btn-bg-none:hover {
    background: #2500f9;
    color: #fff;
}

/*********************************/
/***- TRUSTED BY COMPANY SECTION -***/
/*********************************/
.trust-section {
    background: #fff;
    padding-top: 114px;
    padding-bottom: 80px;
}
.trusted-section-content-area{
    width: calc(100% - 200px);
    margin-left: 100px;
    margin-right: 100px;
}

.trust-section-title {
    text-align: center;
    margin-bottom: 38px;
    width: 100%;
    text-align: center;
}
.trust-section-title h2 {
    font-size: 16px;
    font-weight: 400;
    color: #242f51;
}

.trust-section-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*********************************/
/***- FEATURES SECTION -***/
/*********************************/
.features-section {
    padding: 60px 0;
    background: #fff;
}
.features-content-area {
    display: flex;
}
.features-left-content {
    width: calc(50% + 80px);
    margin-left: -80px;
}

.features-left-content img {
    width: 100%;
}

.features-right-content {
    width: calc(42% - 40px);
    margin-left: 40px;
    margin-top: 40px;
}

.features-text-box-single-item {
    display: flex;
}

.features-text-box-icon {
    margin-right: 32px;
    align-self: center;
}

.features-section-title {
    margin-bottom: 92px;
}

.features-section-title h2{
    font-size: 36px;
    font-weight: 500;
    line-height: 46px;
    color: #242f51;
    margin-bottom: 26px;
}

.features-section-title .lead {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 0;
}

.features-text-box-content h4 {
    font-size: 20px;
    font-weight: 500;
    line-height: 58px;
}
.features-text-box-content .fast-performance {
    color: #f55767;
}

.features-text-box-content .prototyping {
    color: #2563ff;
}

.features-text-box-content .vector-editing {
    color: #40975f;
}

.features-text-box-content .lead {
    font-size: 16px;
    line-height: 26px;
}

/*********************************/
/***- JACKPOT SECTION -***/
/*********************************/
.jackpot-section {
    background: #fff;
    padding: 60px 0;
}
.jackpot-section-title {
    display: flex;
    width: 100%;
    margin-bottom: 100px;
}

.jackpot-section-title-left-content {
    padding-left: 20px;
    padding-right: 60px;
    width: 50%;
    border-right: 1px solid #b9b9b8;
}
.jackpot-section-title-left-content h2 {
    font-size: 38px;
    font-weight: 500;
    line-height: 50px;
    color: #242f51;
}
.jackpot-section-title-right-content {
    width: 50%;
    padding-left: 45px;
    align-self: center;
}

.jackpot-section-title-right-content .lead {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #616368;
    margin-bottom: 0;
}

.jackpot-section-main-content {
    display: flex;
    justify-content: space-between;
}
.jackpot-section-main-content-single-item {
    width: fit-content;
}

.jackpot-section-main-content-single-item:nth-child(2){
    margin: 0 120px;
}

.single-item-icon {
    margin-bottom: 32px;
}

.single-item-content h4 {
    font-size: 20px;
    font-weight: 500;
    color: #f55767;
    line-height: 58px;
}
.single-item-content .lead {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 0;
}

.single-item-content .automatic-payouts {
    color: #f55767;
}
.single-item-content .network-effect {
    color: #2563ff;
}
.single-item-content .bigger-rewards {
    color: #40975f;
}

/*********************************/
/***- CODE INTEGRATION SECTION -***/
/*********************************/
.code-integration-section {
    padding: 60px 0;
    background: #fff;
    border-bottom: 1px solid #f4f4f4;
}
.code-integration-main-section {
    width: 100%;
    display: flex;
}

.code-integration-section-left-content {
    width: calc(50% + 60px);
    margin-left: -60px;
}

.code-integration-section-left-content img {
    width: 100%;
}

.code-integration-section-right-content {
    margin-top: 120px;
    width: calc(50% - 100px);
    margin-left: 100px;
    padding-right: 24px;
}

.code-integration-section-right-content h2 {
    font-size: 36px;
    font-weight: 500;
    line-height: 46px;
    color: #242f51;
    margin-bottom: 26px;
}
.code-integration-section-right-content .lead {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #616368;
}
/*********************************/
/***- CHOOSE YOUR APP SECTION -***/
/*********************************/
.choose-your-app {
    background: #fff;
    padding: 120px 0;
}

.choose-your-app-section-title {
    width: 60%;
    margin: 0 auto 86px;
    text-align: center;
}

.choose-your-app-section-title h2 {
    font-size: 36px;
    font-weight: 500;
    color: #242f51;
    line-height: 46px;
    margin-bottom: 30px;
    padding: 0 110px;
}
.choose-your-app-section-title .lead {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #616368;
    margin-bottom: 0;
    padding: 0 60px;
}

.choose-your-app-section-main-content-wrapper {
    display: flex;
    flex-direction: column;
}


.choose-your-app-section-main-content {
    display: flex;
    text-align: center;
}
.choose-your-app-section-main-content:nth-child(1){
    margin-bottom: 62px;
}
.app-section-single-item:nth-child(2) {
    margin: 0 100px;
}

.app-section-single-item-icon {
    margin-bottom: 26px;
}
.app-section-single-item-text h4 {
    font-size: 20px;
    font-weight: 500;
    color: #242f51;
    line-height: 58px;
}

.app-section-single-item-text .lead {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #616368;
    margin-bottom: 0;
}


