/*********************************/
/***- BASIC SETUP -***/
/*********************************/
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
}
*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*********************************/
/***- REUSABLE COMPONENTS -***/
/*********************************/
section {
    display: block;
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.btn {
    border: 0;
    outline: 0;
    color: #fff;
    background: #2500f9;
    font-size: 16px;
    font-weight: 500;
    padding: 20px 40px;
    border-radius: 32px;
    transition: .3s;
    text-decoration: none;
    display: inline-block;
    border: 1px solid transparent;
}
.btn:hover {
    cursor: pointer;
    background: transparent;
    color: #2500f9;
    border-color: #ddd;
}
.lead {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 38px;
    color: #616368;
}
.lead-extends {
    font-size: 16px;
    font-weight: 400;
    color: #616368;
    line-height: 26px;
}
/*********************************/
/***- NAVIGATION AREA -***/
/*********************************/
header {
    position: absolute;
    z-index: 1;
    width: 100%;
}
nav {
    display: flex;
    width: 100%;
}

.logo {
    margin-top: 55px;
}

.nav-right {
    display: flex;
    margin-left: auto;
}

.main-nav {
    margin-top: 60px;
    margin-right: 28px;
}

.main-nav ul {
    display: flex;
    list-style-type: none;
}

.main-nav ul li {
    margin: 0 18px;
}

.main-nav ul li:first-child {
    margin-left: 0;
}

.main-nav ul li:last-child {
    margin-right: 0;
}

.main-nav ul li a {
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: #242f51;
    text-transform: capitalize;
}

.main-nav ul li:last-child a {
    text-transform: uppercase;
}

.navbar-btn {
    margin-top: 40px;
    margin-left: 28px;
}
.btn-nav {
    border: 1px solid transparent;
}
.btn-nav:hover {
    background: transparent;
    color: #2500f9;
    border-color: #ddd;
}

/*STICKY NAV*/
nav.sticky {
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    transition: 0.3s;
    box-shadow: 0 10px 6px -6px #777;
}

.sticky a.logo {
    margin-top: 0;
    padding: 22px 0;
}
.sticky .main-nav {
    margin-top: 0;
    padding: 30px 0;
}

.sticky .navbar-btn {
    margin-top: 0;
    padding: 10px 0;
}

.icon-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 58px;
    color: #242f51;
    margin: 0;
}

/*********************************/
/***- SLIDER AREA -***/
/*********************************/
.slider-section {
    background: url(img/slider-img-1.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 80px;
}
.slider-text-area {
    padding-top: 200px;
    width: 50%;
    margin-left: 70px;
}

.slider-text-area h1 {
    font-size: 60px;
    font-weight: 600;
    line-height: 75px;
    color: #242f51;
    margin: 0 0 38px 0;
}
.editor-choice {
    background: #e2eaed;
    border-radius: 32px;
    display: inline-block;
    margin-bottom: 12px;
}
.editor-choice a {
    display: flex;
    align-items: center;
}

.editor-choice a {
    text-decoration: none;
    color: #242f51;
}

.editor-choice a span {
    padding: 0 48px 0 10px;
}

.text-box-btn {
    display: flex;
}

.text-box-btn a {
    margin: 0 10px;
}

.text-box-btn a:first-child {
    margin-left: 0;
}

.text-box-btn a:last-child {
    margin-right: 0;
}
.text-box-btn-nav {
    border: 1px solid transparent;
}
.text-box-btn-nav:hover {
    background: transparent;
    border-color: #ddd;
    color: #2500f9;
}
.btn-bg-none {
    background: transparent;
    color: #2500f9;
    padding: 20px 16px
}

.btn-bg-none:hover {
    background: #2500f9;
    color: #fff;
}

/*********************************/
/***- TRUSTED BY COMPANY SECTION -***/
/*********************************/
.trust-section {
    background: #fff;
    padding-top: 114px;
    padding-bottom: 80px;
}
.trusted-section-content-area{
    width: calc(100% - 200px);
    margin-left: 100px;
    margin-right: 100px;
}

.trust-section-title {
    text-align: center;
    margin-bottom: 38px;
    width: 100%;
    text-align: center;
}
.trust-section-title h2 {
    font-size: 16px;
    font-weight: 400;
    color: #242f51;
}

.trust-section-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*********************************/
/***- FEATURES SECTION -***/
/*********************************/
.features-section {
    padding: 60px 0;
    background: #fff;
}
.features-content-area {
    display: flex;
}
.features-left-content {
    width: calc(50% + 80px);
    margin-left: -80px;
}

.features-left-content img {
    width: 100%;
}

.features-right-content {
    width: calc(42% - 40px);
    margin-left: 40px;
    margin-top: 40px;
}

.features-text-box-single-item {
    display: flex;
}

.features-text-box-icon {
    margin-right: 32px;
    align-self: center;
}

.features-section-title {
    margin-bottom: 92px;
}

.features-section-title h2{
    font-size: 36px;
    font-weight: 500;
    line-height: 46px;
    color: #242f51;
    margin-bottom: 26px;
}

.features-section-title .lead {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 0;
}

.features-text-box-content h4 {
    font-size: 20px;
    font-weight: 500;
    line-height: 58px;
}
.features-text-box-content .fast-performance {
    color: #f55767;
}

.features-text-box-content .prototyping {
    color: #2563ff;
}

.features-text-box-content .vector-editing {
    color: #40975f;
}

.features-text-box-content .lead {
    font-size: 16px;
    line-height: 26px;
}

/*********************************/
/***- JACKPOT SECTION -***/
/*********************************/
.jackpot-section {
    background: #fff;
    padding: 60px 0;
}
.jackpot-section-title {
    display: flex;
    width: 100%;
    margin-bottom: 100px;
}

.jackpot-section-title-left-content {
    padding-left: 20px;
    padding-right: 60px;
    width: 50%;
    border-right: 1px solid #b9b9b8;
}
.jackpot-section-title-left-content h2 {
    font-size: 38px;
    font-weight: 500;
    line-height: 50px;
    color: #242f51;
}
.jackpot-section-title-right-content {
    width: 50%;
    padding-left: 45px;
    align-self: center;
}

.jackpot-section-title-right-content .lead {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #616368;
    margin-bottom: 0;
}

.jackpot-section-main-content {
    display: flex;
    justify-content: space-between;
}
.jackpot-section-main-content-single-item {
    width: fit-content;
}

.jackpot-section-main-content-single-item:nth-child(2){
    margin: 0 120px;
}

.single-item-icon {
    margin-bottom: 32px;
}

.single-item-content h4 {
    font-size: 20px;
    font-weight: 500;
    color: #f55767;
    line-height: 58px;
}
.single-item-content .lead {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 0;
}

.single-item-content .automatic-payouts {
    color: #f55767;
}
.single-item-content .network-effect {
    color: #2563ff;
}
.single-item-content .bigger-rewards {
    color: #40975f;
}

/*********************************/
/***- CODE INTEGRATION SECTION -***/
/*********************************/
.code-integration-section {
    padding: 60px 0;
    background: #fff;
    border-bottom: 1px solid #f4f4f4;
}
.code-integration-main-section {
    width: 100%;
    display: flex;
}

.code-integration-section-left-content {
    width: calc(50% + 60px);
    margin-left: -60px;
}

.code-integration-section-left-content img {
    width: 100%;
}

.code-integration-section-right-content {
    margin-top: 120px;
    width: calc(50% - 100px);
    margin-left: 100px;
    padding-right: 24px;
}

.code-integration-section-right-content h2 {
    font-size: 36px;
    font-weight: 500;
    line-height: 46px;
    color: #242f51;
    margin-bottom: 26px;
}
.code-integration-section-right-content .lead {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #616368;
}
/*********************************/
/***- CHOOSE YOUR APP SECTION -***/
/*********************************/
.choose-your-app {
    background: #fff;
    padding: 120px 0;
}

.choose-your-app-section-title {
    width: 60%;
    margin: 0 auto 86px;
    text-align: center;
}

.choose-your-app-section-title h2 {
    font-size: 36px;
    font-weight: 500;
    color: #242f51;
    line-height: 46px;
    margin-bottom: 30px;
    padding: 0 110px;
}
.choose-your-app-section-title .lead {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #616368;
    margin-bottom: 0;
    padding: 0 60px;
}

.choose-your-app-section-main-content-wrapper {
    display: flex;
    flex-direction: column;
}


.choose-your-app-section-main-content {
    display: flex;
    text-align: center;
}
.choose-your-app-section-main-content:nth-child(1){
    margin-bottom: 62px;
}
.app-section-single-item:nth-child(2) {
    margin: 0 100px;
}

.app-section-single-item-icon {
    margin-bottom: 26px;
}
.app-section-single-item-text h4 {
    font-size: 20px;
    font-weight: 500;
    color: #242f51;
    line-height: 58px;
}

.app-section-single-item-text .lead {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #616368;
    margin-bottom: 0;
}
.unlimited-features-section-left-content {
    width: calc(50% - 36px);
}

.unlimited-features-section-right-content {
    position: absolute;
    width: 50%;
    right: 0;
    margin-top: 60px;
}

.unlimited-features-section-right-content img {
    width: 100%;
}

.unlimited-features-section {
    background: #fff;
    padding: 80px 0;
}

.unlimited-features-section-left-content {
    margin-left: 36px;
}

.unlimited-section-title h2 {
    font-size: 36px;
    font-weight: 500;
    line-height: 46px;
    color: #242f51;
    margin-bottom: 10px;
}

p.lead-extends {
}

.unlimited-section-title {
    padding-right: 160px;
    margin-bottom: 44px;
}

.unlimited-section-content-box {
    display: flex;
    flex-direction: column;
}

.unlimited-section-content-box-single-item {
    display: flex;
}

.unlimited-section-box-icon {
    margin-bottom: 26px;
}

.unlimited-section-content-box-single-item:first-child {
    margin-bottom: 54px;
}
.unlimited-section-box-single-item:nth-child(even) {
    margin-left: 50px;
}
.see-all-btn {
    margin-top: 50px;
    padding: 20px 58px;
}
/*********************************/
/***- PRICING SECTION -***/
/*********************************/
.pricing-section {
    background: #fff;
    padding: 60px 0;
}
.pricing-section-title {
    width: 50%;
    margin: 0 auto 75px;
    text-align: center;
}
.pricing-section-title h2 {
    font-size: 36px;
    font-weight: 500;
    color: #242f51;
    margin-bottom: 24px;
}
.packages-area {
    width: 100%;
}
.package-top {
    margin-bottom: 30px;
}
.switch {
    position: relative;
    display: flex;
    text-align: center;
    width: 286px;
    height: 54px;
    background: #fff;
    border: 2px solid #777777;
    border-radius: 32px;
    padding: 20px 45px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: 0 auto;
}
.switch input {
    opacity: 0;
    height: 0;
    width: 0;
}
.switch .slider {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: transparent;
    transform: translate(0px, 0px);
    transition: 0.6s ease transform;
}
.switch .slider:before {
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    background: #2500f9;
    width: 50%;
    height: 40px;
    cursor: pointer;
    border-radius: 32px;
    transition: 0.3s ease;
}
input:checked + .slider:before {
    transform: translateX(90%);
}
.input-label{
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    color: #616368;
}
input:checked + .input-label {
    color: #f55767;
}
.input-label .switch-color {
    color: #fff;
}
.card-footer {
    display: flex;
    flex-direction: column;
}
.packages-items {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}
.card {
    margin: 0 20px;
    border-radius: 4px;
    display: inline-block;
    width: calc(50% - 23px);
    padding-bottom: 25px;
    float: left;
}
.card:first-child {
    margin-left: 0;
    box-shadow: 3.837px 54.866px 62px 0px rgba(144, 163, 177, 0.18);
}
.card:last-child {
    margin-right: 0;
    border: 2px solid #ebebeb;
}
.card-text-1 i, .card-text-2 i {
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 58px;
    color: #242f51;
}
.card-text-1, .card-text-2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #999ca5;
}
.card-list ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}
.card-list ul li {
    font-size: 16px;
    font-weight: 400;
    color: #999ca5;
    line-height: 48px;
}
.card-list ul li:first-child {
    margin-top: 0;
}
.card-list ul li:last-child {
    margin-bottom: 0;
}
.card-header {
    padding: 66px 60px 34px;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(244,247,249,1) 30%);
}
.card-title {
    margin-top: 26px;
}
.card-title h3 {
    font-size: 20px;
    font-weight: 500;
    color: #242f51;
    line-height: 28px;
}
.card-title span {
    font-size: 16px;
    font-weight: 400;
    color: #999ca5;
    line-height: 28px;
}
.card-body {
    color: #fff;
    padding: 22px 60px;
}
.card-footer {
    padding: 0 50px;
}
.free-trial-btn {
    display: block;
    padding-top: 24px;
    text-decoration: none;
    color: #2500f9;
}
/*********************************/
/***- TESTIMONIAL SECTION -***/
/*********************************/
.testimonial-section {
    padding: 60px 0;
    background: #fff;
}
.testimonial-content-area {
    display: inline-block;
    width: 100%;
}
.testimonial-left-content {
    width: calc(50% + 90px);
    float: left;
    margin-left: -90px;
    margin-top: 180px;
}
.testimonial-left-content img {
    width: 100%;
}

.testimonial-right-content {
    width: 50%;
    float: left;
}
.testimonial-section-title h2 {
    font-size: 40px;
    font-weight: 500;
    color: #242f51;
    line-height: 50px;
    margin-bottom: 20px;
}
.testimonial-section-title .lead-extends {
    margin-bottom: 32px;
}
.client-review-icon {
    margin-bottom: 4px;
}
.client-review{
    margin-bottom: 58px;
}
.client-review h3 {
    font-size: 20px;
    font-weight: 500;
    color: #242f51;
    line-height: 58px;
    margin-bottom: 12px;
}
.client-section {
    display: flex;
    align-items: center;
}
.client-icon {
    margin-right: 28px;
}
.client-section h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
    color: #242f51;
}
.testimonial-inner {
    position: relative;
    z-index: 0;
}
.owl-carousel {
    z-index: 0;
}
.owl-carousel .owl-item img {
    width: auto;
}
.carousel-control-btn {
    position: absolute;
    bottom: calc(36px - 17px);
    right: 0;
}
.owl-nav {
    display: none;
}
.control-btn:first-child {
    margin-left: 0;
}

.control-btn:last-child {
    margin-right: 0;
}

.control-prev-btn {
    background: #fff;
    display: inline-block;
    float: left;
    border: 1px solid #f0f4f8;
}
.control-next-btn {
    background: #eff3f8;
    display: inline-block;
    float: left;
    position: relative;
}

.control-next-btn:before {
    content: "";
    width: 1px;
    height: 100%;
    background: #ddd;
    position: absolute;
    top: 0;
    left: -8px;
}

.control-btn img {
    vertical-align: middle;
    display: inline-block;
    width: auto;
    cursor: pointer;
}

.control-btn {
    height: 50px;
    width: 50px;
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 22;
}
/*********************************/
/***- FAQ SECTION -***/
/*********************************/
.faq-section {
    padding: 90px 0;
    background: #fff;
}

.faq-title-section {
    width: 60%;
    text-align: center;
    margin: 0 auto 56px;
}

.faq-title-section h2 {
    font-size: 40px;
    font-weight: 500;
    color: #242f51;
    line-height: 58px;
    margin-bottom: 18px;
}
.accordion-section {
    width: 80%;
    margin: 0 auto;
}
.accordion-single-item {
    background: #f5f7fa;
    margin: 10px 0;
}
.accordion-btn {
    background: #f5f7fa;
    padding: 20px 30px;
    width: 100%;
    border: 0;
    outline: 0;
    color: #242f51;
    font-size: 20px;
    font-weight: 500;
    line-height: 58px;
    cursor: pointer;
    transition: .4s;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.accordion-btn:first-child {
    margin-top: 0;
}
.accordion-btn:last-child {
    margin-bottom: 0;
}

.accordion-panel {
    padding: 0 30px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.accordion-btn:after {
    background: url(../img/plus-icon.png) no-repeat;
    content: "";
    height: 19px;
    width: 18px;
}
.active:after {
    display: none;
}